

.App {
  text-align: center;
  background-color: rgb(51, 51, 40);
  height: 100vh;
  width: 100vw;
}
.Conts{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #363636;
  color: #fdfcf7;
  justify-content: center;
}
.letter {
  display: inline-block;
  color: rgb(204, 204, 204);
  opacity: 40%;
}

.typed {
  opacity: 100%;
  color: rgb(91, 230, 91);
}
.completed2 {
  opacity: 100%;
  color: rgb(79, 192, 79);
}
.incorrect {
  opacity: 70%;
  color: red;
}
.textA{
  height: 100%;
  width: 60%;
  font-size: 1.5rem;
  font-family: 'Space Mono';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  position: relative;

}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.cursor {

  display: inline-block;
  text-align: center;
  width: 2px;
  height: 1em;
  align-self: center;
  justify-self: center;
  height: 10%;
  width: 100%;
  animation: blink 1s infinite;
}



.inp{
  caret-color: rgb(211, 211, 211);
  outline: none;
  visibility: hidden;
  margin-top: 2rem;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(206, 206, 206);
}

.bars {
display: inline-block;
white-space: nowrap;
margin: .3rem;
}
.completed {
  display: inline-block;
  white-space: nowrap;
  margin: .3rem;
  color:rgb(157, 226, 157);
  }
.ulize{
display: flex;
flex-wrap:wrap;
border-radius: 2rem;

}
.dalist{
  display: flex;
  flex-direction: row;
  padding: .3rem;
  list-style-type: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.yuh{
  width: 100px;
  height: 100px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.pew{
  font-family: 'Impact';
  color: rgb(228, 222, 168);
  opacity: 76%;

  font-size: 1.4rem;
  margin-top: 1rem;
 
}
.App-link {
  color: #61dafb;
}
.btna{
  font-weight: bold;
  opacity: 76%;
  color: rgb(184, 181, 181);
  background-color: transparent;
  border: none;
  text-align: inherit;
  
  width: 20;
  font: inherit;
  border-radius: 0;
  appearance: none;
}
.btna:hover{
  color: rgb(255, 255, 255);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
