.cont{
    height: 100vh;
    width: 100vw;
}
.nav{
    height: 100%;
    width: 100%;
}
.bav{
    height: 50%;
    width: 100%;
}
.col{
    height: 50%;
    width: 100%;
}
.cimg{
    height: 100%;
    width: 120%;
    object-fit:cover;
}