@font-face {
    font-family: 'Actionman';
    src: url('./Mods/Bubblegum.ttf') format('truetype');
    /* Add additional font formats and paths if necessary */
  }

.cont{
    
    height: 100vh;
    width: 100vw;
}
.page{
    font-size: 2rem;
    background-color: #b2c0f5;
    color: #fdfcf7;
    height: 100%;
    width: 100%;
    font-family: 'Actionman', sans-serif;

}